body {
	background: #fff;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: 400;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
strong, b {
	font-weight: 700;
}
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}
.acf-map img {
   max-width: inherit !important;
}
div.load-more {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 20px;
}
/* HEADER */
header {
	background: #000;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 10px;
}
/* TOP BAR */
.container {
	width: 1106px;
	margin: 0 auto;
}
.container:before, .container:after {
	display: table;
	content: "";
}
.container:after {
	clear: both;
}
.top-bar {
	padding-bottom: 25px;
}
.user-menu {
	float: left;
	width: 155px;
	padding: 10px 0 0 0;
}
.user-menu li {
	display: inline-block;
	margin-right: 25px;
}
.user-menu li:last-child {
	margin-right: 0;
}
.user-menu li a {
	display: block;
	color: #fff;
	text-transform: uppercase;
}
.user-menu li a:hover {
	color: #757575;
}
#logo {
	float: left;
	text-align: center;
	width: calc(100% - 313px);
	margin: 0;
	line-height: 0;
}
.search-form {
	float: right;
	width: 158px;
	position: relative;
	margin-top: 2px;
}
.search-form input {
	width: 100%;
	outline: none;
	border: none;
	border-radius: 20px;
	background: #424242;
	height: 26px;
	padding-left: 15px;
	padding-right: 30px;
}
.search-form button {
	position: absolute;
	top: 3px;
	right: 0;
	background: none;
	border: none;
	outline: none;
}
/* MAIN MENU */
.main-menu > li {
	display: inline-block;
	padding: 4px 0;
	position: relative;
	margin: 0 39px;
}
.main-menu > li:before {
	position: absolute;
	content: "";
	top: 0;
	right: -39px;
	width: 1px;
	height: 100%;
	background: #272727;
}
.main-menu > li:last-child:before {
	content: none;
}
.main-menu > li:last-child {
	margin-right: 0;
}
.main-menu > li:first-child {
	margin-left: 0;
}
.main-menu > li > a {
	color: #757575;
	text-transform: uppercase;
	position: relative;
}
.main-menu > li:hover > a {
	color: #fff;
}
.main-menu > li > a:hover:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background: #1b1b1b;
	bottom: -4px;
	left: 0;
}
.main-menu .sub-menu {
	position: absolute;
	width: 108px;
    background: #1b1b1b;
    padding: 7px 12px 4px 12px;
    top: 40px;
    left: 50%;
    margin-left: -54px;
    display: none;
}
.main-menu > li:hover:after {
	position: absolute;
	content: "";
	width: 100%;
	left: 0;
	bottom: -23px;
	height: 23px;
	background: transparent;
	z-index: 2;
}
.main-menu > li:hover .sub-menu {
	display: block;
	z-index: 2;
}
.main-menu .sub-menu:before {
	position: absolute;
	content: "";
	top: -7px;
	left: 50%;
	margin-left: -7px;
	width: 0; 
  	height: 0; 
  	border-left: 7px solid transparent;
  	border-right: 7px solid transparent;
  	border-bottom: 7px solid #1b1b1b;
}
.main-menu .sub-menu > li {
	padding: 10px 0;
	border-bottom: 1px solid #313131;
	text-align: center;
}
.main-menu .sub-menu > li:last-child {
	border-bottom: 0;
}
.main-menu .sub-menu > li > a {
	color: #fff;
}
/* #HEADER */
/* MAIN */
main {
	padding: 40px 0;
}
.home main {
	padding: 0;
}
/* HOME SLIDER */
.home-slider .owl-carousel button.owl-dot {
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 5px;
	position: relative;
	outline: none;
}
.owl-dots {
	bottom: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
}
.owl-carousel button.owl-dot.active span {
	display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}
/* #HOME SLIDER */
/* HOME SECTION 1 & 2 */
.home-sec-1, .home-sec-2 {
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 130px;
	padding-bottom: 120px;
	margin-top: 90px;
}
.home-sec-1 .sec-content {
	width: 390px;
    float: right;
    padding-right: 60px;
}
.home-sec-1 .sec-content h3, .home-sec-2 .sec-content h3 {
	font-size: 49px;
	line-height: 48px;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-family: South Korea;
	color: #5b5b5b;
}
.home-sec-1 .sec-content .desc, .home-sec-2 .sec-content .desc {
	font-size: 14px;
	line-height: 25px;
	color: #959595;
	margin-bottom: 40px;
	letter-spacing: 2.1px;
}
.home-sec-1 .sec-content .desc {
	letter-spacing: 2px;
}
.read-more {
	display: inline-block;
	width: 210px;
	text-align: center;
	height: 56px;
	line-height: 56px;
	text-transform: uppercase;
	border: 3px solid #959595;
	font-size: 19px;
	color: #959595;
}
.home-sec-2 {
	background-position: right;
	padding-top: 115px;
	padding-bottom: 105px;
	margin-top: 15px;
	position: relative;
}
.home-sec-2:before {
	position: absolute;
	content: "";
	top: 70px;
	left: 0;
	right: 0;
	bottom: 50px;
	background: #f1f2f2;
	z-index: -1;
}
.home-sec-2 .sec-content {
	width: 505px;
    float: left;
    padding-left: 30px;
    text-align: right;
} 
.home-sec-2 .sec-content h3 {
	font-size: 63px;
	line-height: 60px;
}
/* #HOME SECTION 1 & 2 */
/* OFFICIAL */
.home-official {
	margin: 65px 0 100px 0;
	text-align: center;
}
.home-official h3 {
	text-align: center;
	font-size: 32px;
	line-height: 37px;
	color: #959595;
	margin-bottom: 80px;
}
.home-official .gallery {
	width: 825px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}
.home-official .gallery .item {
	width: 255px;
	height: 255px;
	overflow: hidden;
	margin-right: 30px;
	margin-bottom: 30px;
	float: left;
}
.home-official .gallery .item:nth-child(3n) {
	margin-right: 0;
}
/* HOME CONTACT */
.home-contact {
	padding-top: 345px;
	padding-bottom: 60px;
	background-size: cover;
    background-repeat: no-repeat;
}
.home-contact .map {
	width: 595px;
	float: left;
}
.home-contact .acf-map {
	height: 315px;
	border: 0;
	margin: 0;
}
.home-contact .information {
	width: 425px;
	float: right;
	margin-top: 100px;
	font-size: 14px;
	color: #fff;
}
.home-contact .information h3 {
	letter-spacing: -1.9px;
	font-family: South Korea;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.home-contact .information li {
	margin-bottom: 10px;
}
.home-contact .information li:last-child {
	margin-bottom: 0;
}
/* #HOME CONTACT */
/* #OFFICIAL */
/* SIDEBAR PRODUCT */
.tax-product_cat .sidebar {
	width: 100px;
	float: left;
	padding-right: 20px;
}
.sidebar .list-cat li {
	padding: 10px 0;
	border-bottom: 1px solid #828282;
	padding-left: 7px;
}
.sidebar .list-cat li:first-child {
	padding-top: 0;
}
.sidebar .list-cat li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}
.sidebar .list-cat li a {
	color: #757575;
	text-transform: uppercase;
}
/* #SIDEBAR PRODUCT*/
/* PRODUCT CAT */
.tax-product_cat #content {
	width: 925px;
	float: left;
}
.tax-product_cat h2.page-title {
	font-size: 24px;
	color: #000;
	margin-bottom: 95px;
	padding-left: 20px;
}
/* #PRODUCT CAT*/
/* #MAIN */
/* FOOTER */
footer {
	background: #000;
	color: #fff;
	padding: 50px 0 45px 0;
}
.footer-left {
	float: left;
}
.footer-left .item {
	float: left;
}
.footer-left .item:first-child {
	padding-right: 55px;
}
.footer-left .item:nth-child(2) {
	padding-right: 65px;
}
h4.widget-title {
	text-transform: uppercase;
	margin-bottom: 28px;
}
.footer-left .item ul li {
	margin-bottom: 8px;
}
.footer-left .item ul li:last-child {
	margin-bottom: 0;
}
.footer-left .item ul li a {
	font-size: 14px;
	line-height: 15px;
}
.footer-left .item ul li a:hover {
	color: #757575;
}
.footer-left .item section {
	margin-bottom: 8px;
}
.footer-left .item section:last-child {
	margin-bottom: 0;
}
.footer-right {
	float: right;
	text-align: left;
	font-size: 14px;
	line-height: 15px;
}
.logo-footer {
	margin-bottom: 22px;
}
.copyright {
	margin-top: 20px;
	padding-right: 3px;
}
footer .socials {
	overflow: hidden;
}
footer .socials ul {
	margin-right: 85px;
}
footer .socials li {
	display: inline-flex;
    width: 31px;
    height: 31px;
    background: #272727;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    float: right;
    border-radius: 5px;
}
footer .socials li:first-child {
	margin-right: 0;
}
footer .socials li:hover {
	background: #757575;
}
footer .socials li img {
	margin-top: 3px;
}
/* #FOOTER */
/* EDIT CSS WOO */
.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
	width: 290px;
	margin-right: 27px;
	margin-bottom: 50px;
	text-align: center;
}
.woocommerce ul.products.columns-3 li.product:nth-child(3n), .woocommerce-page ul.products.columns-3 li.product:nth-child(3n) {
	margin-right: 0;
}
.woocommerce ul.products li.product .thumb {
	min-height: 205px;
	margin-bottom: 20px;
	line-height: 0;
}
.woocommerce ul.products li.product a img {
	display: inline-block;
	width: auto;
	max-width: 100%;
	margin-bottom: 0;
}
.woocommerce ul.products.columns-3 li.product h4, .woocommerce-page ul.products.columns-3 li.product h4 {
	margin-bottom: 8px;
	text-align: left;
	padding-left: 45px;
}
.woocommerce ul.products.columns-3 li.product h4 a, .woocommerce-page ul.products.columns-3 li.product h4 a {
	font-size: 24px;
	color: #5d5d5d;
}
.attributes {
	text-align: left;
    margin-left: 45px;
    color: #8d8d8d;
    font-size: 10px;
}
.attributes .code {
	display: none;
}
.attributes .name {
	font-size: 8px;
	text-transform: uppercase;
	width: 40px;
	border-right: 1px solid #b7b7b7;
}
.attributes .value {
	padding-left: 10px;
	padding-bottom: 3px;
}
.attributes tr:last-child .value {
	padding-bottom: 0;
}
.woocommerce div.product div.summary {
	float: none;
	width: 100%;
	position: relative;
	padding-top: 15px;
}
.woocommerce div.product .product_title {
	font-family: 'Gotham';
	font-weight: 300;
	font-size: 46px;
	color: #5d5d5d;
	padding-left: 75px;
}
.woocommerce div.product div.summary .go-back {
	position: absolute;
    top: 28px;
    left: 0;
}
.woocommerce div.product div.summary .close {
	position: absolute;
    top: 28px;
   	right: 0;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
	width: 100%;
	float: none;
}
.single-product .information {
	background: #f6f6f6;
	padding: 40px 0;
}
.single-product .information .container {
	text-align: center;
}
.single-product .information .content {
	display: inline-flex;
}
.single-product .information .content > div {
	padding: 7px 35px 20px 35px;
	border-right: 1px solid #b7b7b7;
}
.single-product .information .content > div:last-child {
	border-right: 0;
}
.single-product .information .content .excerpt {
	width: 360px;
	display: inline-block;
	text-align: left;
	font-size: 10px;
	color: #8d8d8d;
	line-height: 12px;
	letter-spacing: 0.36px;
}
.single-product .attributes {
	margin: 0;
}
.single-product .attributes .code {
	display: table-row;
}
.single-product .attributes .name {
	border-right: 0;
}
.single-product .attributes .value {
	padding-left: 15px;
	letter-spacing: 0.4px;
}
.single-product .information .price .value {
	font-family: 'Gotham Extra';
	font-size: 28px;
	color: #000;
	font-weight: 300;
	margin-bottom: 20px;
}
.single-product .information .price .add-cart a {
	font-family: 'South Korea';
	font-size: 15px;
	color: #fff;
	display: inline-block;
	height: 30px;
	line-height: 32px;
	width: 150px;
	text-transform: uppercase;
	background: #a6a6a6;
	border-radius: 0;
	padding: 0;
	font-weight: 400;
}
.single-product main {
	padding-bottom: 0;
}
/* CSS PAGE TEMPLATE */
.page-template main {
	padding: 0;
}
.embroidery .page-banner {
	line-height: 0;
}
.embroidery .page-banner img {
	width: 100%;
}
.embroidery .content {
	padding-top: 65px;
	padding-bottom: 210px;
	background-repeat: no-repeat;
    background-position: right bottom;
}
.embroidery .content-left {
	width: 542px;
	float: left;
}
.embroidery .content h2 {
	font-family: 'South Korea';
	font-size: 63px;
	line-height: 60px;
	color: #5b5b5b;
	padding-right: 100px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: -2.8px;
	margin-bottom: 70px;
}
.embroidery .content .desc {
	font-size: 14px;
	color: #959595;
	letter-spacing: 1.95px;
	line-height: 26px;
}
.embroidery .content .content-left .desc {
	margin-top: 110px;
}
.embroidery .content .desc p {
	margin-bottom: 25px;
}
.embroidery .content-right {
	width: calc(100% - 542px);
	padding-left: 49px;
	float: left;
	padding-top: 20px;
}
.contact-page .banner {
	padding: 50px 0 40px 0;
	text-align: center;
}
.contact-page .contact {
	background: #f8f8f8;
	padding: 25px 0 115px 0;
}
.contact-page .contact h2 {
	font-size: 26px;
	color: #545454;
	font-family: 'Gotham';
	font-weight: 300;
	margin-bottom: 80px;
}
.contact-page .contact .content {
	display: flex;
    align-items: center;
}
.contact-page .contact .content .information {
	width: 240px;
	float: left;
}
.contact-page .list-email span {
	display: block;
	font-family: 'Gotham';
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.contact-page .list-email a {
	display: block;
	font-size: 16px;
	font-family: 'Gotham';
	font-weight: 300;
	font-style: italic;
}
.contact-page .list-email .item {
	color: #545454;
	margin-bottom: 25px;
}
.contact-page .list-email .item:last-child {
	margin-bottom: 0;
}
.contact-page .contact .container {
	max-width: 770px;
}
.contact-page .contact .contact-form {
	width: calc(100% - 240px);
	float: left;
}
.contact-page .contact .contact-form input, .contact-page .contact .contact-form textarea {
	width: 530px;
	box-sizing: border-box;
	border: 1px solid #ebebeb;
	height: 32px;
	color: #545454;
	font-size: 15px;
	font-family: 'Gotham';
	font-weight: 300;
	padding: 0 10px;
	outline: none;
}
.contact-page .contact .contact-form input {
	margin-bottom: 10px;
}
.contact-page .contact .contact-form textarea {
	height: 175px;
	padding: 10px;
	resize: none;
}
/* #CSS PAGE TEMPLATE */
/* #EDIT CSS WOO*/
/* Firefox */
@-moz-document url-prefix() {
    .main-menu > li {
    	margin: 0 38px;
    }
    .user-menu {
    	width: 160px;
    }
    #logo {
    	width: calc(100% - 318px);
    }
    .home-sec-1 .sec-content .desc, .home-sec-2 .sec-content .desc {
    	letter-spacing: 1.9px;
    }
    .home-sec-2 .sec-content .desc {
    	letter-spacing: 2px;
    }
    .embroidery .content .desc {
    	letter-spacing: 1.84px;
    }
}
/* #Firefox */
/* IE 12+ */
@supports (-ms-ime-align:auto) {
  	.home-sec-2 .sec-content h3 {
		letter-spacing: -2.1px;
	}
	.embroidery .content .desc {
    	letter-spacing: 1.88px;
    }
    .embroidery .content h2 {
    	letter-spacing: -4.9px;
    }
}
/* #IE 12+ */