body {
	background: #fff;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: 400;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
strong, b {
	font-weight: 700;
}
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}
.acf-map img {
   max-width: inherit !important;
}
/* HEADER */
header {
	background: #000;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 10px;
}
/* TOP BAR */
.container {
	width: 1106px;
	margin: 0 auto;
}
.container:before, .container:after {
	display: table;
	content: "";
}
.container:after {
	clear: both;
}
.top-bar {
	padding-bottom: 25px;
}
.user-menu {
	float: left;
	width: 155px;
	padding: 10px 0 0 0;
}
.user-menu li {
	display: inline-block;
	margin-right: 25px;
}
.user-menu li:last-child {
	margin-right: 0;
}
.user-menu li a {
	display: block;
	color: #fff;
	text-transform: uppercase;
}
.user-menu li a:hover {
	color: #757575;
}
#logo {
	float: left;
	text-align: center;
	width: calc(100% - 313px);
	margin: 0;
	line-height: 0;
}
.search-form {
	float: right;
	width: 158px;
	position: relative;
	margin-top: 2px;
}
.search-form input {
	width: 100%;
	outline: none;
	border: none;
	border-radius: 20px;
	background: #424242;
	height: 26px;
	padding-left: 15px;
	padding-right: 30px;
}
.search-form button {
	position: absolute;
	top: 3px;
	right: 0;
	background: none;
	border: none;
	outline: none;
}
/* MAIN MENU */
.main-menu > li {
	display: inline-block;
	padding: 4px 0;
	position: relative;
	margin: 0 39px;
}
.main-menu > li:before {
	position: absolute;
	content: "";
	top: 0;
	right: -39px;
	width: 1px;
	height: 100%;
	background: #272727;
}
.main-menu > li:last-child:before {
	content: none;
}
.main-menu > li:last-child {
	margin-right: 0;
}
.main-menu > li:first-child {
	margin-left: 0;
}
.main-menu > li > a {
	color: #757575;
	text-transform: uppercase;
	position: relative;
}
.main-menu > li:hover > a {
	color: #fff;
}
.main-menu > li > a:hover:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background: #1b1b1b;
	bottom: -4px;
	left: 0;
}
.main-menu .sub-menu {
	position: absolute;
	width: 108px;
    background: #1b1b1b;
    padding: 7px 12px 4px 12px;
    top: 40px;
    left: 50%;
    margin-left: -54px;
    display: none;
}
.main-menu > li:hover:after {
	position: absolute;
	content: "";
	width: 100%;
	left: 0;
	bottom: -20px;
	height: 20px;
	background: transparent;
	z-index: 2;
}
.main-menu > li:hover .sub-menu {
	display: block;
	z-index: 2;
}
.main-menu .sub-menu:before {
	position: absolute;
	content: "";
	top: -7px;
	left: 50%;
	margin-left: -7px;
	width: 0; 
  	height: 0; 
  	border-left: 7px solid transparent;
  	border-right: 7px solid transparent;
  	border-bottom: 7px solid #1b1b1b;
}
.main-menu .sub-menu > li {
	padding: 10px 0;
	border-bottom: 1px solid #313131;
	text-align: center;
}
.main-menu .sub-menu > li:last-child {
	border-bottom: 0;
}
.main-menu .sub-menu > li > a {
	color: #fff;
	text-transform: capitalize;
}
/* #HEADER */
/* MAIN */
main {
	padding-top: 40px;
}
.home main {
	padding-top: 0;
}
/* HOME SLIDER */
.home-slider .owl-carousel button.owl-dot {
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 5px;
	position: relative;
	outline: none;
}
.owl-dots {
	bottom: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
}
.owl-carousel button.owl-dot.active span {
	display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}
/* #HOME SLIDER */
/* HOME SECTION 1 & 2 */
.home-sec-1, .home-sec-2 {
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 130px;
	padding-bottom: 120px;
	margin-top: 90px;
}
.home-sec-1 .sec-content {
	width: 390px;
    float: right;
    padding-right: 60px;
}
.home-sec-1 .sec-content h3, .home-sec-2 .sec-content h3 {
	font-size: 49px;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.home-sec-1 .sec-content .desc, .home-sec-2 .sec-content .desc {
	font-size: 14px;
	line-height: 25px;
	color: #959595;
	margin-bottom: 35px;
	letter-spacing: 2px;
}
.read-more {
	display: inline-block;
	width: 210px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	border: 3px solid #959595;
	font-size: 19px;
	color: #959595;
}
.home-sec-2 {
	background-position: right;
	padding-top: 110px;
	padding-bottom: 100px;
	margin-top: 15px;
	position: relative;
}
.home-sec-2:before {
	position: absolute;
	content: "";
	top: 70px;
	left: 0;
	right: 0;
	bottom: 50px;
	background: #f1f2f2;
	z-index: -1;
}
.home-sec-2 .sec-content {
	width: 505px;
    float: left;
    padding-left: 50px;
    text-align: right;
} 
.home-sec-2 .sec-content h3 {
	font-size: 63px;
}
/* #HOME SECTION 1 & 2 */
/* OFFICIAL */
.home-official {
	margin: 60px 0 100px 0;
	text-align: center;
}
.home-official h3 {
	text-align: center;
	font-size: 32px;
	color: #959595;
	margin-bottom: 80px;
}
.home-official .gallery {
	width: 825px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}
.home-official .gallery .item {
	width: 255px;
	height: 255px;
	overflow: hidden;
	margin-right: 30px;
	margin-bottom: 30px;
	float: left;
}
.home-official .gallery .item:nth-child(3n) {
	margin-right: 0;
}
/* HOME CONTACT */
.home-contact {
	padding-top: 345px;
	padding-bottom: 60px;
	background-size: cover;
    background-repeat: no-repeat;
}
.home-contact .map {
	width: 595px;
	float: left;
}
.home-contact .acf-map {
	height: 310px;
	border: 0;
	margin: 0;
}
.home-contact .information {
	width: 425px;
	float: right;
	margin-top: 100px;
	font-size: 14px;
	color: #fff;
}
.home-contact .information h3 {
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 20px;
    font-family: monospace;
}
.home-contact .information li {
	margin-bottom: 10px;
}
.home-contact .information li:last-child {
	margin-bottom: 0;
}
/* #HOME CONTACT */
/* #OFFICIAL */
/* SIDEBAR PRODUCT */
.tax-product_cat .sidebar {
	width: 100px;
	float: left;
	padding-right: 20px;
}
.sidebar .list-cat li {
	padding: 10px 0;
	border-bottom: 1px solid #828282;
	padding-left: 7px;
}
.sidebar .list-cat li:first-child {
	padding-top: 0;
}
.sidebar .list-cat li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}
.sidebar .list-cat li a {
	color: #757575;
	text-transform: uppercase;
}
/* #SIDEBAR PRODUCT*/
.tax-product_cat #content {
	width: calc(100% - 100px);
	float: right;
}
/* #MAIN */
/* FOOTER */
footer {
	background: #000;
	color: #fff;
	padding: 50px 0 45px 0;
}
.footer-left {
	float: left;
}
.footer-left .item {
	float: left;
}
.footer-left .item:first-child {
	padding-right: 55px;
}
.footer-left .item:nth-child(2) {
	padding-right: 65px;
}
h4.widget-title {
	text-transform: uppercase;
	margin-bottom: 28px;
}
.footer-left .item ul li {
	margin-bottom: 8px;
}
.footer-left .item ul li:last-child {
	margin-bottom: 0;
}
.footer-left .item ul li a {
	font-size: 14px;
	line-height: 15px;
	text-transform: capitalize;
}
.footer-left .item ul li a:hover {
	color: #757575;
}
.footer-left .item section {
	margin-bottom: 8px;
}
.footer-left .item section:last-child {
	margin-bottom: 0;
}
.footer-right {
	float: right;
	text-align: left;
	font-size: 14px;
	line-height: 15px;
}
.logo-footer {
	margin-bottom: 22px;
}
.copyright {
	margin-top: 20px;
	padding-right: 3px;
}
footer .socials {
	overflow: hidden;
}
footer .socials ul {
	margin-right: 85px;
}
footer .socials li {
	display: inline-flex;
    width: 31px;
    height: 31px;
    background: #272727;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    float: right;
    border-radius: 5px;
}
footer .socials li:first-child {
	margin-right: 0;
}
footer .socials li:hover {
	background: #757575;
}
footer .socials li img {
	margin-top: 3px;
}
/* #FOOTER */
/* Firefox */
@-moz-document url-prefix() {
    .main-menu > li {
    	margin: 0 38px;
    }
    .user-menu {
    	width: 160px;
    }
    #logo {
    	width: calc(100% - 318px);
    }
    .home-sec-1 .sec-content .desc, .home-sec-2 .sec-content .desc {
    	letter-spacing: 1.9px;
    }
}